<div class="navbar navbar-default navbar-fluid-top" style="margin-bottom:0px;">
  <div class="container">
    <div class="navbar-collapse collapse" id="navbar-main" role="navigation">
      <ul class="nav navbar-nav navbar-left"  style="width:70%;">
        <li >
          <%= link_to "My Rails Base", "/" , :class=>"navbar-brand"%>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" >
        <li ><%= link_to "Help", "#"%></li>
      </ul>
    </div>
  </div>
</div>
